*{
    margin: auto;
}

.navbar-collapse {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: italic;
  }

  .navbar-collapse{
    margin-left: 200px ;
    padding: 30px;
    
  }

.nav-link:hover{
    text-decoration: underline; 
}

.sticky-top{
    position: sticky;
    top: 0;
    z-index: 1000;
  width: 100%;
}

.nav-link{
    color: black;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.nav-link:hover{
    color: black;
}


.lunch{
    padding: 20px;
    max-width: 100%;
    box-sizing: border-box;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 20px;
    border: 4px solid rgb(0, 0, 0);
    margin: 20px;
    border-radius: 10px;
background-color: rgb(255, 219, 154);
}

.titulli{
  padding: 40px;
  text-align: center;
  font-size: 70px;
  font-family: "Baskervville SC", serif;
}

p{ color: rgb(5, 5, 4);}



.lunchmenu {
    max-width: 100%;
    overflow-x:auto; 
    display: flex;
}

.part1,
.part2,
.part3 {
    flex: 1; 
}

.part1 {
    order: 1;
    margin-right: 10px; 
}

.part2 {
    order: 2; 
    margin-right: 10px; 
}

.part3 {
    order: 3; 
}


h1{
  color: rgb(196, 35, 40);
  font-weight: bolder ;
}

.pica{
  width: 150px;
  height: 150px;
}


.pasta{
  width: 150px;
  height: 150px;
}

.stir-fried{
  width: 150px;
  height: 150px;
}

.sandwich{
  width: 150px;
  height: 150px;
}

.shrimp{
  width: 150px;
  height: 150px;
}

.titulli2{
  display: flex;
}



footer {
  background-color:rgb(188, 180, 160); 
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav .nav-item {
  padding: 0;
  margin-right: 0;
}
n 
.nav .nav-item:last-child {
  margin-right: 0;
  
}